<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae,
      aliquam?
    </p>
  </div>
  <div style="width: 50%">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimated Websites</li>
            <li class="list__item">Unlimated Bandwidth</li>
            <li class="list__item">100GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">BUY NOW</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae,
      aliquam?
    </p>
  </div>
</section>
