<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">PRODUCTS</h2>
    <img
      class="icon icon--white collapsible__chevron"
      src="images/chevron.svg"
      alt=""
    />
  </header>
  <ul class="list list--tick collapsible__content">
    <li class="list__item">Website Hosting</li>
    <li class="list__item">Free Automated Wordpress</li>
    <li class="list__item">Migrations</li>
  </ul>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">COMPANY</h2>
    <img
      class="icon icon--white collapsible__chevron"
      src="images/chevron.svg"
      alt=""
    />
  </header>
  <ul class="list list--tick collapsible__content">
    <li class="list__item">About</li>
    <li class="list__item">Affiliates</li>
    <li class="list__item">Blog</li>
  </ul>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">SUPPORT</h2>
    <img
      class="icon icon--white collapsible__chevron"
      src="images/chevron.svg"
      alt=""
    />
  </header>
  <ul class="list list--tick collapsible__content">
    <li class="list__item">Contact</li>
    <li class="list__item">Knowledge Base</li>
    <li class="list__item">FAQ</li>
  </ul>
</div>
<script src="js/main.js"></script>
