<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
      perferendis.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p class="feature__tagline">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem
        aliquam placeat et? Itaque, rerum praesentium. Nulla ad incidunt placeat
        magnam!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="hero__image feature__image" src="images/easy.jpg" alt=""
    /></picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p class="feature__tagline">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem
        aliquam placeat et? Itaque, rerum praesentium. Nulla ad incidunt placeat
        magnam!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="hero__image feature__image" src="images/fast.jpg" alt=""
    /></picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p class="feature__tagline">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem
        aliquam placeat et? Itaque, rerum praesentium. Nulla ad incidunt placeat
        magnam!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="hero__image feature__image" src="images/wordpress.jpg" alt=""
    /></picture>
  </article>
</section>
