<section class="block block--dark block--skewed-right showcase">
  <herder class="block__header">
    <h2 class="showcase__heading">User-friendly Control Panel</h2>
  </herder>
  <div class="container grid grid--1x2">
    <img class="showcase__image" src="images/ipad.png" alt="" />
    <div class="showcase__content">
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p class="media__p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur
            nostrum laboriosam itaque velit provident maiores eaque voluptate,
            est assumenda cupiditate?
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Staging, GIT & WP-CLI</h3>
          <p class="media__p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur
            nostrum laboriosam itaque velit provident maiores eaque voluptate,
            est assumenda cupiditate?
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Dynamic Caching & More</h3>
          <p class="media__p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur
            nostrum laboriosam itaque velit provident maiores eaque voluptate,
            est assumenda cupiditate?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
